			html, body{
				font-family: Verdana, Arial, Helvetica, sans-serif;
				color: #666666;
				height: 100%;
				width: 100%;
				display: flex;
				margin: 0; 
				padding:0;
			}
			a{
				text-decoration: none;
				color: orange;

			}
			
			a.selected{
				color: gray;
			}
			.hasBackground{
				background-attachment: fixed; 
				background-image: url('downtown-los-angeles-cityscape.jpg');
			}
			#content-overlay{
				display: block;
				background-color: rgba(254, 254, 254, 0.9);
				width: 100%;
				height: 100%;
			}
			
			#content{
				width: 810px;
			}
			.title{
				font-size: 1.5rem;
				text-align: left;
				margin: 30px 0 20px 20px;
				font-weight: bold;				
			}

			.title-sub{
				font-size: 1.5rem;
				text-align: left;
				margin: 0px 0 0 20px;
				font-weight:bold;
			}
			
			.title-location{
				text-align:left;
				margin: 250px 0 20px 20px;
				
			}
			
			.title-links{
				text-align:left;
				margin: 0 0 30px 20px;
			}
			
			.description{
				margin: 0 0 30px 20px;
			}
			.day{
				margin: 0 0 0 20px;
			}
			.day-date{
				font-weight:bold;
				margin: 0 0 20px 0;
			}
			.day-segment{
				margin: 0 0 20px 0;
			}
			
			
			.event-time{
				display: inline-block;
				vertical-align: top;
				width: 200px;
			}
			.event-description{
				display: inline-block;
				vertical-align: top;
				width: 580px;
			}
			
			.participants{
				margin: 0 0 0 20px;
			}
			
			.participant{
				margin: 0 0 10px 0;
			}
			
			.contact{
				margin: 0 0 20px 0px;
			}
			
			.contact-name{
				display: inline-block;
				vertical-align: top;
				width: 200px;
			}
			.contact-email{
				display: inline-block;
				vertical-align: top;
				width: 350px;
			}
			.contact-phone{
				display: inline-block;
				vertical-align: top;
				width: 150px;
			}