body {
    font-size: 1em;
    font-family: Helvetica, "Trebuchet MS", Verdana, Sans-Serif;
    margin: 0;
    padding: 10px;
    color: #808080;
}

img{border:0px;}

a{
	
	text-decoration:none;
	text-align:left;
	color: #808080;
}

#nav{
    display: none;
}

#nav-dialog{
	border: 0;
	width: 300px;
	max-width: 95%;
	background-color: white;
	font-size: 1em;
	top: 0px;
	box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

a.main-nav{
	font-weight:bold;
	text-decoration:none;
	display:block;
	text-align:left;
	color: #808080;
    font-size: .75em;
    text-indent: 10px;
    width: 100%;
	height: 37px;
	line-height: 37px;
}

#content-title{
	text-align: center;
}

#navWrap{
	position: static;
	display: block;
}

#graphic{
	display: none;
}

#name{
	font-weight: bold;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: .5em;
	margin-bottom: 10px;
}

/* #h-menu{
	position: fixed;
    top: 20px;
    right: 10px;
    z-index: 1000;
    font-size: 4em;
} */

#hamburger{   
	position: absolute;
	right: 5px;
	top: 25px;   
	border: 0;
	background-color: white;  
	font-size: 1.3em;
	color:#808080;
	padding: 0;
} 


.center-mobile{
	text-align: center;
}



@media screen and (min-width: 800px) {

	body{
		/* display: grid;	
		grid-template-columns: 400px 1fr; */
	}
	
	#content{
		position:relative;
		top:160px;
		margin: 20px 0 0 0;
	}

	#content-wrap{
		margin: 0 0 0 395px;
	}

	.mobile{
		display:none;
	}
	
	#hamburger{
		display: none;
	}
	
	#nav{
		display: block;
		position: relative;
		top: 20px;
		height: initial;
		right: initial;
		z-index: initial;
		width: initial;
		border: none;
		background-color: white;
		margin-left: 10px;
	}
	

	a.main-nav{
		text-decoration:none;
		display:block;
		text-align:left;
		color: #808080;
		font-size: .75em;
		text-indent: 10px;
		width: 100%;
	}
	
	
	#graphic{
		display: block;
		position:relative;
		left:80px;
		top: 50px;
		width:100px;
		z-index: 100;
	}
	
	
	#box1, #box2, #box3, #box4, #box5, #box6, #box7{
		height:72px;
		width: 72px;
		position:absolute;
		background-color:white;
		border: 3px solid #FF9900;
	}

	#box2, #box4, #box6{
		left:20px;
	}
	#box3, #box5{
		left:50px;
	}

	#box2, #box3, #box4, #box5, #box6{
		
	}
	#box1{
		z-index: 1;
		top:0;
		left:0;
		border-left: 0px;
		border-top: 0px;
	}

	#box2{
		z-index: 2;
		top:35px;
	}

	#box3{
		z-index: 3;
		top:70px;
	}
	#box4{
		z-index: 4;
		top:125px;
	}
	#box5{
		z-index: 5;
		top:180px;
	}
	#box6{
		z-index: 5;
		top:225px;
	}
	#box7{
		z-index: 5;
		top:280px;
		left:60px;
		border-bottom: 0px;
		border-right: 0px;
	}

	#h-menu{
		position: relative;
		font-size: 1.3em;
		border: 0;
		top: 120px;
		left: 10px;	
	}

	#navWrap{
		position: fixed;
		top: 0;
		width: 380px;	
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}

	#content-title{
		position:fixed;
		left:395px;
		top:0px;
		right:0;
		background-color:white;
		z-index:100;
		border-bottom: 2px solid #FF9900;
		padding: 70px 0 0 5px;
		min-width: 300px;
		text-align: left;
	}


	#content-name{
		font-weight: normal;
	}
	

	.center-mobile{
		text-align: left;
	}
	

}


#content-title-no-border{
	position:fixed;
	height:130px;
	left:395px;
	top:0px;
	right:0;
	background-color:white;
	z-index:100;
	padding: 0 0 0 5px;
}


#name-mobile{
    display:none;
}

#page-title{
	font-weight: bold;
	vertical-align: top;
	font-size: 2em;
	margin: 0 0 0 0;
}

.title{
	font-weight:bold;
}
.profile{
	margin-bottom:50px;
    width: 150px;
}
.section-entry{
	margin-bottom:10px;
}
.section-title{
	margin:20px 0 10px 0;
	font-variant:small-caps;
	letter-spacing:.2em;
	font-weight:bold;
	font-size: 1.3em;
}
.year-span{
	font-size: .8em;
	display:table-cell;
	width: 100px;
	vertical-align:top;
	overflow:hidden;
}
.description{
	font-size: .8em;
	display:table-cell
}

.bold{
	font-weight:bold;
}

.num{
	display:table-cell;
	width:20px;
}
.count{
	position:relative;
	padding-left:30px;
}
.count:before {
	counter-increment: section;
	content: counter(section) ".";
	position:absolute;
	left:0;
	top:0;
	text-align:right;
	width:15px;
}

.section-counter{
	counter-reset: section;
}
a.paper{
	color:#FF9900;
	font-weight:bold;
}

.last-updated{
	margin: 20px 0 0 0;
	font-style:italic;
	font-size: .8em;
}

.shield{
	position:fixed;
	left:100px;
	bottom:20px;
}

div.supplemental{
    margin: .8em 0 0 0;
}

div.supplemental .new-line{
    display: block;
    margin: 0 0 1em 0;
}
